<div class="room-content">
  <div class="room-content_minimalist-room">
    <p class="room-content_minimalist-room_title">Minimalist Room</p>
    <p class="room-content_minimalist-room_info">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout.
    </p>
    <img
      class="room-content_minimalist-room_image"
      src="/assets/images/image-1.svg"
      alt="Room image"
    />
  </div>
  
  <div class="room-content_overview-process">
    <div class="room-content_overview-process-project">
      <p class="title">Project Overview</p>
      <p class="text-1">
        Online learning with us does not interfere with your daily life. because
        learning can be done anytime and anywhere. Online learning with us does
        not interfere with your daily life. because learning can be done anytime
        and anywhere. Online learning with us does not interfere with your daily
        life. because learning can be done anytime and anywhere.
      </p>
      <div class="text-2">
        <p>July 22 - 2022</p>
        <p>Interior Design - Furnitur</p>
      </div>
    </div>
    <div class="room-content_overview-process-design">
      <p class="title">Design Process</p>
      <p class="text-1">
        Online learning with us does not interfere with your daily life. because
        learning can be done anytime and anywhere. Online learning with us does
        not interfere with your daily life. because learning can be done anytime
        and anywhere.
      </p>
      <p class="text-2">
        Online learning with us does not interfere with your daily life. because
        learning can be done anytime and anywhere. Online learning with us does
        not interfere with your daily life. because learning can be done anytime
        and anywhere.
      </p>
    </div>
  </div>
  <div class="room-content_gallery">
    <div class="room-content_gallery-row line-1">
      <img src="/assets/images/image-2.svg" alt="Gallery image">
      <img src="/assets/images/image-3.svg" alt="Gallery image">
    </div>
    <div class="room-content_gallery-row line-2">
      <img src="/assets/images/image-4.svg" alt="Gallery image">
    </div>
    <div class="room-content_gallery-row line-3">
      <img src="/assets/images/image-5.svg" alt="Gallery image">
      <img src="/assets/images/image-6.svg" alt="Gallery image">
    </div>
  </div>
</div>
