<div class="footer">
  <div class="footer-headline">
    <div class="footer-headline_discuss">
      <span>let's discuss making your interior like a dream place!</span>
    </div>
    <div class="footer-headline_contact">
      <span
        >Contact us below to work together to build your amazing interior</span
      >
      <button>Contact Us</button>
    </div>
  </div>
  <div class="footer_social">
    <div class="footer_social-logo">
      <img alt="Logo" src="/assets/images/logo.svg" />
      <span class="text">One of the best furniture agency.</span>
    </div>
    <div class="footer_social-email">
      <span class="email-title">Enter your email to get the laterst news</span>
      <div class="input-with-icon">
        <input class="input" placeholder="Email Address" type="text" />
        <img src="/assets/icons/mail-arrow.svg" alt="Email icon" />
      </div>
      <div class="social-media">
        <div class="social-media-wrapper">
          <span class="social-media-wrapper-title">Follow us On</span>
          <div class="social-media-wrapper-elements">
            <a href="https://www.facebook.com" target="_blank">
              <img src="/assets/icons/facebook.svg" alt="Social icon" />
            </a>
            <a href="https://www.instagram.com" target="_blank">
              <img src="/assets/icons/instagram.svg" alt="Social icon" />
            </a>
            <a href="https://www.tiktok.com" target="_blank">
              <img src="/assets/icons/tiktok.svg" alt="Social icon" />
            </a>
            <a href="https://www.youtube.com" target="_blank">
              <img src="/assets/icons/youtube.svg" alt="Social icon" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
